<h1>Here are all of the best restaurants!</h1>

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;

@if (@Model.Count == 0)
{
  <p>This town ain't big enough for a restaurant! You should try adding one, pard'ner.</p>
}

<ul>
  @foreach (Restaurant restaurant in Model)
  {
    <li>@restaurant.Name </li>
  }
</ul>

<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add new restaurant", "Create", "Restaurants")</p>
